* {
    border: border-box;
}

body {
    background-color: #ea9a96;
    font-family: 'Quicksand', sans-serif;
}

.title {
 text-align: center;
 margin-top: 30vh;
 font-size: 3.5rem;
 color: #ffffff;
 text-shadow: 4px 3px 0px #7A7A7A;
 text-shadow: 3px 5px 2px #474747;
} 

.links {
    margin-top: 20vh;  
}

.link {
    text-align: center;
    border: 3px solid #4c5788;
    background-color: #303960;
    border-radius: 5pt;
    padding: 10px;
    margin: 30px 10px 30px 10px;
    font-size: 1.5rem;
    box-shadow:
    0 5.9px 14.3px -14px rgba(0, 0, 0, 0.5),
    0 47px 114px -14px rgba(0, 0, 0, 1);
}

.link:hover {
    border: 3px solid #626ea7;
    background-color: #4b5685;
}

.link:active {
    transform: translateY(2px);
}

a {
    text-decoration: none;
    color: #f8b24f;
}

.footer {
    text-align: center;
    font-size: 0.7rem;
}

.footericons {
    font-size: 2rem;
}

#github {
    color: black;
}

.loading {
    width: 20px;
    height: auto;
}

/* CSS FOR ADD PLAYERS PAGE */
.form {
    background-color: rgb(199, 139, 139);
}
.centerButton {
    padding: 2px 35px 2px 35px;
}

.addperson {
    text-align: center;
    color: white;
    border: 3px solid #4c5788;
    background-color: #303960;
    border-radius: 5pt;
    padding: 10px 40px;
    margin: 30px 10px 10px 10px;
    font-size: 1.5rem;
    box-shadow:
    0 5.9px 14.3px -14px rgba(0, 0, 0, 0.5),
    0 47px 114px -14px rgba(0, 0, 0, 1);
}

.nameInput {
    margin: 5px;
    padding: 10px 50px 10px 5px;
    border-radius: 5pt;
}

.removeInput {
    padding: 8px;
    text-align: center;
    color: white;
    border: 3px solid #4c5788;
    background-color: #303960;
    font-size: 1rem;
    border-radius: 5pt;
}

.submitInput {
    text-align: center;
    color: white;
    border: 3px solid #4c5788;
    background-color: #303960;
    border-radius: 5pt;
    padding: 10px 65px 10px 65px;
    margin: 10px 45px 30px 45px;
    font-size: 1.5rem;
    box-shadow:
    0 5.9px 14.3px -14px rgba(0, 0, 0, 0.5),
    0 47px 114px -14px rgba(0, 0, 0, 1);
}

.errorMessage {
    color: rgb(209, 49, 49);
    margin: 10px;
    text-align: center;
}

/* CSS FOR CREATE TEAMS PAGE */
.heading {
    font-size: 1.3rem;
    /* border: rgb(110, 47, 146) 1px solid; */
    padding: 10px 1px 5px 5px;
    margin: 0px;
    text-align: center;
}

.peopleGrid {
    /* border: rgb(255, 27, 27) 1px solid; */
    /* columns: 2; */
    list-style-type: none;
    padding: 3px;
}

.people {
    background-color: rgb(199, 139, 139);
    padding: 5px 20px 5px -0px;
    margin: 2px 0px 2px 0px;
    font-size: 1.2rem;
    border-radius: 5pt;
}

.peopleCheckBox {
    visibility: hidden;
}

.peopleCheckBox + label {
    color: black;
    border-radius: 5pt;
    padding-left: 10px;
    padding-right: 10px;
    padding: 5px 20px 5px -30px;
}

.peopleCheckBox:checked + label {
    color: white;
    font-size: 1.2rem;
    border-radius: 5pt;
    /* padding: 5px 20px; */
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgb(97, 138, 100);
}

.trashBtn {
    float: right;
    padding: 5px;
    border-radius: 5pt;
    margin-right: -20px;
    align-items: center;
}

.selectAll {
    text-align: center;
    color: white;
    border: 3px solid #4c5788;
    background-color: #303960;
    border-radius: 5pt;
    padding: 10px;
    margin: 10px 50px;
    font-size: 1.2rem;
    box-shadow:
    0 5.9px 14.3px -14px rgba(0, 0, 0, 0.5),
    0 47px 114px -14px rgba(0, 0, 0, 1);
}

.numberOfTeams {
    text-align: center;
    color: white;
    border: 3px solid #4c5788;
    background-color: #303960;
    border-radius: 5pt;
    padding: 10px;
    margin: 10px 120px;
    font-size: 1.2rem;
}

.createTeams {
    text-align: center;
    color: white;
    border: 3px solid #4c5788;
    background-color: #303960;
    border-radius: 5pt;
    padding: 10px;
    margin: 10px 75px;
    font-size: 1.2rem;
    box-shadow:
    0 5.9px 14.3px -14px rgba(0, 0, 0, 0.5),
    0 47px 114px -14px rgba(0, 0, 0, 1);
}

/* CSS FOR SHUFFLED TEAMS PAGE */
.team {
    background-color: rgb(199, 139, 139);
    border-radius: 5pt;
}

.teamHeading {
    font-size: 1.3rem;
    padding: 10px; 
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.teamsGrid {
    columns: 2;
    list-style-type: none;
    padding: 0px 0px 10px 0px;
    margin: 0px;
    text-align: center;
    font-size: 1.2rem;
}

.reshufflediv {
    margin: 30px 10px 30px 10px;
}

.reshuffle {
    text-align: center;
    color: white;
    border: 3px solid #4c5788;
    background-color: #303960;
    border-radius: 5pt;
    padding: 10px;
    margin: 10px 80px 10px 80px;
    font-size: 1.2rem;
    box-shadow:
    0 5.9px 14.3px -14px rgba(0, 0, 0, 0.5),
    0 47px 114px -14px rgba(0, 0, 0, 1);
}